<% layout('./layouts/boylerplate') -%>

<style>
  .container{
    margin: 10px auto;
  }
  .main {
    margin: auto;
    width: 90%;
    /* background-color: red; */
  }
  .title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 0;
  }
  .location {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
  .desc {
    margin-top: 10px;
  }
  .edit,
  .delete {
    text-decoration: none;
    color: white;
    background-color: rgb(85, 85, 85);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
  }
  .flex {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .ratingForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
  }
  #comment{
    padding: 5px;
  }
  .ratingSubmit{
    width: max-content;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    &:hover{
      cursor: pointer;
      transform: scale(1.05);

    }
  }
</style>

<body>
  <div class="main">
    <p class="title"><%= data.title %></p>
    <img class="image" src="<%= data.image %>" alt="hotel image" />
    <p class="location"><b><%= data.location %> in <%= data.country %> </b></p>
    <p class="price">
      <b>&#8377;<%= Number (data.price).toLocaleString("en-IN") %></b>/night
    </p>
    <p class="desc"><%= data.description %></p>

    <div class="flex">
      <a class="edit" href="/listings/<%= data._id %>/edit">edit</a>
      <br />
      <form action="/listing/<%= data._id %>?_method=DELETE" method="post">
        <button class="delete">delete</button>
      </form>

    </div>
    <hr>
    <form
      class="ratingForm"
      action="/listing/<%= data._id %>/review"
      method="post"
    >
      <label for="rating">Rating</label>
      <input type="range" name="review[rating]" min="1" max="5" required />
      <label for="comment">Comment</label>
      <textarea name="review[comment]" required rows="4" id="comment"></textarea>
      <button type="submit" class="ratingSubmit">submit</button>
    </form>
  </div>
</body>
