
<% layout('./layouts/boylerplate') -%>

<body>
    <div>
      <li><%= data._id %></li>
      <li><%= data.title %></li>
      <li><%= data.image %></li>
      <li><%= data.description %></li>
      <li><%= Number    (data.price).toLocaleString("en-IN") %></li>
      <li><%= data.location %></li>
      <li><%= data.country %></li>
    </div>
    <a href="/listings/<%= data._id %>/edit">edit</a>
    <br>
    <form action="/listing/<%= data._id %>?_method=DELETE" method="post">
      <button>delete</button>
    </form>

  </body>
